.body{
    width: 100%;
    height: 100vh;
    background-color: cyan;
    position: relative;
    
}
/* #mainbody{
    width: 16vh;
    height: 5vh;
    color: white;
    font-family: monospace;
    background-color: darkgoldenrod;
    font-weight: 600;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0012);
    line-height: 0.71em;
    outline: none;
    animation: light 5s linear infinite;
} */
/* @keyframes light{
            0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
                color:rgb(71, 21, 21);
                text-shadow: none;
            }
            18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
                color: white;
                text-shadow: 0 0 10px #151d20,
                0 0 20px #131d20,
                0 0 40px #1b2022,
                0 0 80px #1b2022,
                0 0 160px #14191b,
                0 0 320px #0f1416,
                0 0 740px #182123
            }
        } */

#body1{

    background-color: paleturquoise;
   
}


.bodyall{
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border: 0.4vh darkorchid solid;
    width: 70vw;
    max-width: 80vw;
    height: 80vh;
}
.term{
    display: flex;
    align-items: center;
}
@media screen and (min-width:760px) and (max-width:2524px){
.bodyall{
    width: 26.5vw;
    height: 80vh;
}

}
#body11{
    display: none;
}
#signpage{
    display: flex;
    flex-direction: column;
}
#signpage input{
    outline: none;
    
    border:0.3vh black solid ;
    
    height: 4.8vh;
    border-radius: 2vh;
}
.bodyall button{
    height: 4.8vh;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: monospace;
    
    color: black;
    border-radius: 1vh;
    
}

input:hover{
    border: rgb(0, 0, 0) 3px solid;
}

.btnssign button:last-child{
background-color: blueviolet;
color: whitesmoke;
width: 63%;

}
.btnssign button:first-child{
    width: 37%;
}
.btnssign{
    width: 100%;
    display: flex;
    align-items: center;
}

#body11 span{
    font-size: 13px;
    display: inline-flexbox;
}
#loginpage{
    display: flex;
    flex-direction: column;

}
#loginpage input{
    outline: none;
height: 5vh;
    border: 0.3vh black solid;
    margin: 1vh 0px;
    border-radius: 2vh;
}
#signpage p{
line-height: 0px;
}
#loginpage button{
    background-color: blue;
    color: white;
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
/* .items p:last-child{
    padding-left: 10%;
} */
.headname{
    font-size: 22px;
    font-family: monospace;
    font-weight: 600;

    line-height: 3vh;
}
.items1{
    display: flex;
}

.pagechg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: grab;
}
#fullnameerr,#emailerr,#passworderr{
    visibility: hidden;
    color: rgb(247, 15, 15);
    line-height: 0px;
    font-weight: 600;
    font-size: 16px;
}
#loginpage p span{
    color: green;
    font-size: 22px;
    font-weight: 600;
}

