*{
    margin: 0px;
    padding: 0px;
}
.loginbg{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: url("https://c0.wallpaperflare.com/preview/789/637/166/backlit-chiemsee-dawn-desktop-backgrounds.jpg");
    background-size: 100% 100%;
    display: flex;
}
.login{
    width: 72%;
    height: 82vh;
    margin: 8vh 16% 10vh 12%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
}
.login1{
    width: 50%;
    
}
.login2{
    width: 50%;
   position: relative;
    background: rgb(146, 183, 197);
    box-sizing: border-box;
    padding-left: 30px;
    line-height: 30px;
    border-radius: 0px 20px 20px 0px;
    
}


.login2 label{
    font-size: 25px;
}
.login2 div{
    padding-left: 60px;
}
.pwd1{
    background-color: transparent;
    border: none;
    border-bottom: 2px rgb(25, 4, 39) solid;
    width: 282px;
    height: 30px;
    outline: none;
}
.text1{
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px rgb(25, 4, 39) solid;
    width: 250px;
    height: 30px;
    outline: none;
}

.text1{
    background: url("https://tse2.mm.bing.net/th?id=OIP.R87PbOkdc695AAZ-_qrLYwHaHk&pid=Api&P=0&h=180");
 
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    padding-left: 25px;

}
.loginbtn{
    padding-top: 40px;
    text-align: end;
    padding-right: 35%;
}
.login2 button{
    
    padding:7px 24px;
    font-size: 21px;
    border-radius: 21px;
    background-color: rgb(86, 17, 17);
    color: white;
}
/*login first half images*/
.login1{
    background: url("https://images.pexels.com/photos/3634855/pexels-photo-3634855.jpeg?auto=compress&cs=tinysrgb&w=400");
    background-size: 100% 100%;
    border-radius: 20px 0px 0px 20px;
}
.lgnfg{
text-decoration: none;
font-size: 20px;
}


.page2{
    box-sizing: border-box;
}
.page2 h2{
    text-align: center;
}
.page2 a{
    text-decoration: none;

}
.btns div{
    background-color: rgb(37, 43, 44);
    color: white;
}

.btns{
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    align-items: center;

 
}

.page2 .btns {
font-size: 24px;
padding-top: 14vh;
padding-left: 2%;

} 
.btns p{
    padding-top: 10px;
}

.page2 .btns div{
    margin-top: 4vh;
   
    width: 300px;
    height: 40px;
    border: 2px solid black;
    text-align: center;


border-radius: 6vh;
}
