*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    
}
.all{
    width: 100%;
    height: 100vh;
    background-color: rgb(168, 181, 209);
position: relative;
}
.page{
    position: absolute;
    top: 9%;
    left: 14%;
    width: 70%;
    height: 84vh;
    border: 2px solid;
    display: flex;
    border-radius: 1vh;

}
.page1{
    width: 53%;
    height: 100%;
    border-radius: 1vh 0vh 0vh 1vh;
    background-color: rgb(187, 208, 216);
    
}
.page2{
    width: 47%;
    height: 100%;

}
.sign{
    font-size: 21px;
    font-family: monospace;
    text-align: center;
    padding-top: 1vh;
}
.name{
    padding-top: 5vh;
    display: flex;
    padding-left: 6vh;
    gap: 3.5vh;

}
.name input{
    border: none;
    outline: none;
    background-color: transparent;
    
    width: 26.7vh;
    height: 5vh;
    border-bottom: 2px black solid;
}
.mail input, .pwd input{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 56vh;
    padding-left: 1vh;
}
input::placeholder{
    font-size: 18px;
    color: rgb(29, 11, 41);
}
.mail,.pwd{
    padding-left: 6vh;
    padding-top: 6vh;
}
.pwd2{
    padding-top: 6vh;
}
.btn{
    padding-top: 5vh;
    padding-left: 26vh;
    
    
    width: 100%;
    
}
.btn input{
    border-radius: 2vh;
    background-color: rgb(46, 175, 89);
    color: black;
    font-size: 20px;
    font-weight: 600;
    

}


.btn .sbtbtn{
    width: 50%;
    padding-right: 7vh;
}
.sbtbtn input{
    width: 28vh;
    height: 7vh;
    border: 3px black solid;
}
.sbtbtn input:hover{
background-color: rgb(8, 39, 41);
color: wheat;
}

.reg{
    font-size: 20px;
    padding-top: 12vh;
    padding-left: 10vh;
}
.cond p{
    padding-left: 1.4vh;
    font-size: 16px;

}
.cond{
    display: flex;
padding-top: 3vh;
padding-left: 12vh;
}
.page2{
    box-sizing: border-box;
   
}
.page2 h2{
    text-align: center;
}
.page2 a{
    text-decoration: none;

}

.btns{
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    align-items: center;

 
}
/* .btns div{
    padding-left: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
} */
.page2 .btns {
font-size: 24px;
padding-top: 14vh;
padding-left: 2%;

} 
.btns p{
    padding-top: 10px;
}
/* .btns i{
    padding-top: 10px;
} */
.page2 .btns div{
    margin-top: 4vh;
   
    width: 300px;
    height: 40px;
    border: 2px solid black;
    text-align: center;


border-radius: 6vh;
}